body {
	background-color: rgb(41,44,61);
	background-position: center;
}

footer {
	padding: 1px 10px 1px 0px;
	background-color: rgba(255,255,255,0.4);
	position: fixed;
	clear: both;
	left: 0px;
	bottom: 0px;
	right: 0px;
}